###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Wave By Wave/.vs/Wave By Wave/FileContentIndex/3a95c250-be1d-4751-a999-b4af090684f8.vsidx
Wave By Wave/.vs/Wave By Wave/FileContentIndex/3a95c250-be1d-4751-a999-b4af090684f8.vsidx
Wave By Wave/.vs/Wave By Wave/FileContentIndex/e98c69b1-9533-4316-822f-e163d768eaa0.vsidx
Wave By Wave/.vs/Wave By Wave/FileContentIndex/eeaac22a-54a5-4baa-963a-14e0a5836095.vsidx
Wave By Wave/.vs/Wave By Wave/FileContentIndex/4d94c52b-0b41-4dd8-b43f-5891a094d0ba.vsidx
Wave By Wave/.vs/Wave By Wave/FileContentIndex/4e2296af-c09a-4d51-b5d3-1f806495548a.vsidx
Wave By Wave/.vs/Wave By Wave/FileContentIndex/972770f7-b378-45e4-93a6-6538dd3ae2da.vsidx
Wave By Wave/.vs/Wave By Wave/FileContentIndex/6aa0f903-ba92-489c-961b-475a08339c3f.vsidx
Wave By Wave/.vs/Wave By Wave/FileContentIndex/b8056178-4d8d-4182-84cb-0008a154fada.vsidx
Wave By Wave/.vs/Wave By Wave/FileContentIndex/df33ba78-4a88-4bfe-81a6-4eefd73c302b.vsidx
