###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Wave By Wave/.vs/Wave By Wave/FileContentIndex/3a95c250-be1d-4751-a999-b4af090684f8.vsidx
Wave By Wave/.vs/Wave By Wave/FileContentIndex/3a95c250-be1d-4751-a999-b4af090684f8.vsidx
Wave By Wave/.vs/Wave By Wave/FileContentIndex/e98c69b1-9533-4316-822f-e163d768eaa0.vsidx
Wave By Wave/.vs/Wave By Wave/FileContentIndex/eeaac22a-54a5-4baa-963a-14e0a5836095.vsidx
